<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Matemasie&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="styles/main.css">
    
</head>
<body>
    <div id="page-container">
        <div id="content-wrap">
        <header>
            <div class="container">
                <form action="/" method="get">
                    <input type="image" src="/images/github.png" class="icon" alt="submit">
                </form>
                <div class="cima">
                    <form action="/new" method="get">
                        <input type="submit" class="usersButton" value="new post" id="newPost">
                    </form>
                    <form action="/users" method="get">
                        <input type="submit" class="usersButton" value="users">
                    </form>
                </div>
            </div>
        
        </header>
